# Ruby on Rails
## Perfect Ruby on Rails
ruby-on-rails/perfect-ruby-on-rails/.bundle
ruby-on-rails/perfect-ruby-on-rails/log/*
ruby-on-rails/perfect-ruby-on-rails/tmp/*
!ruby-on-rails/perfect-ruby-on-rails/log/.keep
!ruby-on-rails/perfect-ruby-on-rails/tmp/.keep
ruby-on-rails/perfect-ruby-on-rails/tmp/pids/*
!ruby-on-rails/perfect-ruby-on-rails/tmp/pids/
!ruby-on-rails/perfect-ruby-on-rails/tmp/pids/.keep
ruby-on-rails/perfect-ruby-on-rails/storage/*
!ruby-on-rails/perfect-ruby-on-rails/storage/.keep
ruby-on-rails/perfect-ruby-on-rails/public/assets/
ruby-on-rails/perfect-ruby-on-rails/.byebug_history
ruby-on-rails/perfect-ruby-on-rails/config/master.key
ruby-on-rails/perfect-ruby-on-rails/public/packs/
ruby-on-rails/perfect-ruby-on-rails/public/packs-test/
ruby-on-rails/perfect-ruby-on-rails/node_modules/
ruby-on-rails/perfect-ruby-on-rails/yarn-error.log
ruby-on-rails/perfect-ruby-on-rails/yarn-debug.log*
ruby-on-rails/perfect-ruby-on-rails/.yarn-integrity
ruby-on-rails/perfect-ruby-on-rails/.env

## RESTful API
ruby-on-rails/restful-api/config/master.key
ruby-on-rails/restful-api/tmp/*
ruby-on-rails/restful-api/log/*
ruby-on-rails/restful-api/.bundle
ruby-on-rails/restful-api/.env

## e-Navigator
ruby-on-rails/e-navigator/*.DS_Store
ruby-on-rails/e-navigator/.AppleDouble
ruby-on-rails/e-navigator/.LSOverride
ruby-on-rails/e-navigator/Icon
ruby-on-rails/e-navigator/._*
ruby-on-rails/e-navigator/.DocumentRevisions-V100
ruby-on-rails/e-navigator/.fseventsd
ruby-on-rails/e-navigator/.Spotlight-V100
ruby-on-rails/e-navigator/.TemporaryItems
ruby-on-rails/e-navigator/.Trashes
ruby-on-rails/e-navigator/.VolumeIcon.icns
ruby-on-rails/e-navigator/.AppleDB
ruby-on-rails/e-navigator/.AppleDesktop
ruby-on-rails/e-navigator/Network Trash Folder
ruby-on-rails/e-navigator/Temporary Items
ruby-on-rails/e-navigator/.apdisk
ruby-on-rails/e-navigator/*~
ruby-on-rails/e-navigator/.fuse_hidden*
ruby-on-rails/e-navigator/.directory
ruby-on-rails/e-navigator/.Trash-*
ruby-on-rails/e-navigator/.nfs*
ruby-on-rails/e-navigator/Thumbs.db
ruby-on-rails/e-navigator/ehthumbs.db
ruby-on-rails/e-navigator/ehthumbs_vista.db
ruby-on-rails/e-navigator/Desktop.ini
ruby-on-rails/e-navigator/$RECYCLE.BIN/
ruby-on-rails/e-navigator/*.cab
ruby-on-rails/e-navigator/*.msi
ruby-on-rails/e-navigator/*.msm
ruby-on-rails/e-navigator/*.msp
ruby-on-rails/e-navigator/*.lnk
ruby-on-rails/e-navigator/*.rbc
ruby-on-rails/e-navigator/capybara-*.html
ruby-on-rails/e-navigator/.rspec
ruby-on-rails/e-navigator/log
ruby-on-rails/e-navigator/tmp
ruby-on-rails/e-navigator/db/*.sqlite3
ruby-on-rails/e-navigator/db/*.sqlite3-journal
ruby-on-rails/e-navigator/public/system
ruby-on-rails/e-navigator/coverage/
ruby-on-rails/e-navigator/spec/tmp
ruby-on-rails/e-navigator/*.orig
ruby-on-rails/e-navigator/rerun.txt
ruby-on-rails/e-navigator/pickle-email-*.html
ruby-on-rails/e-navigator/config/initializers/secret_token.rb
ruby-on-rails/e-navigator/.env
ruby-on-rails/e-navigator/.bundle
ruby-on-rails/e-navigator/vendor/bundle
ruby-on-rails/e-navigator/.rvmrc
ruby-on-rails/e-navigator/vendor/assets/bower_components
ruby-on-rails/e-navigator/*.bowerrc
ruby-on-rails/e-navigator/bower.json
ruby-on-rails/e-navigator/.powenv
ruby-on-rails/e-navigator/.byebug_history
ruby-on-rails/e-navigator/*.gem
ruby-on-rails/e-navigator/.config
ruby-on-rails/e-navigator/InstalledFiles
ruby-on-rails/e-navigator/pkg/
ruby-on-rails/e-navigator/spec/reports/
ruby-on-rails/e-navigator/spec/examples.txt
ruby-on-rails/e-navigator/test/tmp/
ruby-on-rails/e-navigator/test/version_tmp/
ruby-on-rails/e-navigator/tmp/
ruby-on-rails/e-navigator/.dat*
ruby-on-rails/e-navigator/.repl_history
ruby-on-rails/e-navigator/build/
ruby-on-rails/e-navigator/*.bridgesupport
ruby-on-rails/e-navigator/build-iPhoneOS/
ruby-on-rails/e-navigator/build-iPhoneSimulator/
ruby-on-rails/e-navigator/.yardoc/
ruby-on-rails/e-navigator/_yardoc/
ruby-on-rails/e-navigator/doc/
ruby-on-rails/e-navigator/rdoc/
ruby-on-rails/e-navigator/.bundle/
ruby-on-rails/e-navigator/lib/bundler/man/

# Python
python/**/__pycache__/
python/file/write_csv.csv
python/file/write_file.txt

# React.js
reactjs/node_modules
reactjs/.pnp
reactjs/.pnp.js
reactjs/coverage
reactjs/build
reactjs/.DS_Store
reactjs/.env.local
reactjs/.env.development.local
reactjs/.env.test.local
reactjs/.env.production.local
reactjs/npm-debug.log*
reactjs/yarn-debug.log*
reactjs/yarn-error.log*

# TypeScript
typescript/node_modules/
typescript/*~
typescript/.fuse_hidden*
typescript/.directory
typescript/.Trash-*
typescript/.nfs*

# JavaScript
javascript/node_modules/
