<div class="modal dafe" id="createTicket">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="model-header pt-3 pl-3">
          <h4 class="modal-title" id="dialogHeader" class=""><%= Ticket.human_attribute_name(:comment) %></h4>
          <button class="close mr-3" type="button" data-dismiss="modal">&times;</button>
        </div>
        <%= form_with(model: @event.tickets.build, url: event_tickets_path(@event)) do |f| %>
          <div class="modal-body">
            <div id="createTicketErrors">
              <%= f.text_field :comment, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.button '送信', class: 'btn btn-primary' %>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">キャンセル</button>
          </div>
        <% end %>
    </div>
  </div>
</div>
